@model List<Permission> 
@{
    ViewData["Title"] = "Aut";
  
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="text-left">
    <h2>Authorization List</h2>
    <hr />
</div>



<div class="m-2 p-1">


    @foreach (var item in Model)
    {

        @if(((List<string>)ViewBag.selectedPermission).Any(sp => sp ==item.Id)){
            
        <input type="checkbox" name="AutUpdate" value="@item.Id" checked /> @item.Name
        <br /> <br />
        }else{
        <br /> <br />
        <input type="checkbox" name="AutUpdate" value="@item.Id" /> @item.Name

        }
    }

    







        <br />
    <input type="submit" class="btn btn-success" value="Submit" />
    <a asp-action="Index" asp-controller="AdminRole" class="btn btn-danger">Cancel</a>
</div>


